bitsandbytes
ccxt
datasets
faiss-cpu
fastapi
flake8
numpy
pandas
pydantic>=2.7
python-dotenv
pyyaml
requests
rich
sentence-transformers
sentencepiece
starlette>=0.37
tokenizers
torch
tqdm
transformers
uvicorn
vaderSentiment
websockets
yfinance
